<div class="sidebar">
    <a href="index.html" class="nav-button" data-section="intro">Introducción</a>
    <a href="pages/sequence.html" class="nav-button" data-section="sequence">Diagramas de Secuencia</a>
    <a href="pages/class.html" class="nav-button" data-section="class">Diagramas de Clases</a>
    <a href="pages/usecase.html" class="nav-button" data-section="usecase">Casos de Uso</a>
    <a href="pages/activity.html" class="nav-button" data-section="activity">Diagramas de Actividad</a>
    <a href="pages/state.html" class="nav-button" data-section="state">Diagramas de Estado</a>
    <a href="pages/component.html" class="nav-button" data-section="component">Componentes</a>
    <a href="pages/tips.html" class="nav-button" data-section="tips">Tips y Trucos</a>
</div>